.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #231d41;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the font to headings (h1, h2, h3, h4, h5, h6) */
h1, h2, h3, h4, h5, h6 {
  font-family: "Bangers", cursive !important;
}

/* Apply the font to buttons */
button {
  font-family: "Bangers", cursive !important;
}

/* Apply the font to paragraphs */
p, span, th, td {
  font-family: "Roboto Condensed", sans-serif !important;
}

/* Apply the font to lists */
ul, ol, li, input, label, legend {
  font-family: "Roboto Condensed", sans-serif !important;
}